.main {
  margin: 40px 20px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.mainList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttonBack {
  background-color: transparent;
  border: none;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mainSideBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  height: 25px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}

input:focus {
  outline: none;
}

.mainSideBarFilter {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.mainSideBarButton {
  width: 175px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  
  padding: 5px 0; 
}